<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    
  </system.web>
  <system.webServer>
    <handlers>
      <add name="a" path="ChartImg.axd" verb="GET,HEAD,POST"
           type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, 
          System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, 
          PublicKeyToken=31bf3856ad364e35"  />
    </handlers>

  </system.webServer>
  
  
  <appSettings>
    <!--used to mantain session on async calls-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="redirectURI" value="http://localhost:59785/Default.aspx"/>
    <add key="clientId" value="AByTJTjryyZfpyDGj2yLlGmeuq01vmbD1xYHmsw23W7hTboigx"/>
    <add key="clientSecret" value="0hpA8Ks6SkZNYga4sBPupsu8a6WjLXPkAabmsWfB"/>
    <add key="appEnvironment" value="sandbox"/>
    <add key="logPath" value="C:\\Temp\\Logs\\"/>
  </appSettings>
  <intuit>
    <ipp>
      <logger>
        <!-- Custom Logger to configure -->
        <customLogger name="traceLogger"
          type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0,        Culture=neutral, PublicKeyToken=null" enable="true"/>
      </logger>
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json"/>
        <response serializationFormat="Json"/>
      </message>
    </ipp>
  </intuit>
</configuration>
